.body {
  font-family: "Merriweather", serif;
}
.banner-section {
  padding: 0px 240px;
}

.banner {
  background-image: url("../resources/Banner\ Image.png");
  
  background-color: gray;
 background-blend-mode: multiply;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 600px;
  border-radius: 10px;
}
.banner-text {
  color: #fff;
  text-align: center;
  font-size: 32px;

  font-weight: 400px;
  padding-top: 197px;
}
.banner-title {
  color: #fff;
  text-align: center;
  width: 632px;
  font-size: 72px;
  padding-left: 400px;
  font-weight: 900;

  padding-bottom: 250px;
}

/* font-family: 'Inter', sans-serif; */
/* 65% off */
.discount-sec {
  font-family: "Inter", sans-serif;
  margin-top: 120px;
  text-align: center;
}
.off {
  color: #f00;
  font-size: 60px;
  font-weight: 700px;
}
.off-sec {
  color: #f00;
}
.all-categories {
  color: #070211;
  font-size: 28px;
}

/* welcome section */
.welcome {
  margin: 120px;
  padding: 0px 140px;
}
.welcome-sec {
  background-image: url("../resources/Vectorrr.png");
  background-color: gray;
 background-blend-mode: multiply;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
.welcome-flex {
  display: flex;
  place-items: center;
  padding: 70px 120px;
  gap: 45px;
}

.wel-title {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
}
.wel-des {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.wel-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #070211;
}


/* address */

.add-sec{
  padding: 0px 240px;
  margin: 220px 140px ;
  background: linear-gradient(180deg, #FF00001A 0%, #FF000000 100%);

}
.address{
  text-align: center;
  padding: 100px 370px;
}

.span{
  color: #F00;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 600;
line-height: 56px;
}
.h{
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 600;
line-height: 56px;
}
.button{
  display: inline-flex;
padding: 16px 32px;
color: white;
border-radius: 8px;
background: #F00;
border: none;


}

/* portfolio */
.portfolio-sec {
  padding: 0px 240px;
  /* border: 2px solid red; */
}
.red-title {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.port-title {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 10px;
}

.div1 {
  width: 100%;
  display: flex;
  gap: 24px;
  margin-top: 70px;
}
.div2 {
  width: 100%;
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.img:hover {
  border: 4px solid red;
  border-radius: 20px;
}

/* coming soon */
.coming-sec {
  padding: 0px 20px;
  margin: 120px;
  /* border: 2px solid red; */
}
.comming {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.coming-des {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.year {
  color: #f00;

  font-family: "Inter", sans-serif;
  font-size: 40px;

  font-weight: 700;
}
.div-2{
border: 10px solid red;
border-radius: 60%;
}
.coming-img{
  width: 350px;
height: 350px;
padding:8px;
}

/* holidays */

.holi-sec{
  padding: 0px 240px;
  margin-bottom: 120px;
  margin-top: 120px;
  position: relative;
  /* position: absolute; */
}
.written-sec{
  text-align: center;
}
.h3{
  color: #070211;

  font-family: "Inter", sans-serif;
font-size: 24px;



}
.holi-title{
  color: #F00;


font-family: Merriweather;
font-size: 52px;

font-weight: 900;

}
.holi-span{
  color: #070211;
font-family: Merriweather;
font-size: 52px;

font-weight: 900;

}
.holi-des {
  color: rgba(7, 2, 17, 0.6);
padding: 0px 260px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
}

.img-sec{
  text-align: end;
}
.img1{
margin-bottom: -4px;
}
.relative1{
position: absolute;
margin-top: -650px;

}
.relative2{
  position: absolute;
  margin-top: -550px;
  margin-left: 800PX;
}


/* subscribe */

.sub-sec {
  padding: 0px 240px;
  margin-bottom: 120px;
  border-radius: 16px;
  margin-top: 120px;
}
.sub {
  background-color: rgba(255, 0, 0, 0.05);
  text-align: center;
  padding: 80px 212px;
}
.sub-title {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.sub-des {
  color: rgba(7, 2, 17, 0.6);

  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
#id1 {
  background: white;
  border: none;
  text-decoration: none;
  padding: 25px 30px 25px 22px;
  border-radius: 50px 0px 0px 50px;
}
#id2 {
  background: #f00;
  border: none;
  text-decoration: none;
  padding: 25px 30px;
  border-radius: 0px 50px 50px 0px;
  /* padding-left: -5px; */
}
/* footer */

footer h4 {
  color: #fff;
  font-family: "Inter", sans-serif;
}

.footer {
  background: #070211;
}
.line1 {
  display: flex;
}
.line2 {
  display: flex;
}
.footer-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 290px 0px 140px;
}
.hr {
  height: 1px;
  background: wheat;
  margin-bottom: 40px;
  margin: 40px 200px 40px 140px;
}
.icon1{
  width: 24px;
height: 24px;
margin-top: 20px;
margin-right: 5px;
}
.icon {
  display: flex;
  gap: 20px;
  padding: 0px 780px;
}
.footer-parent2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 200px 100px 140px;
}
