.body {
  font-family: "Merriweather", serif;
}
.banner-section {
  padding: 0px 240px;
}

.banner {
  background-image: url("/resources/Banner\ Image.png");
  /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 600px;
  border-radius: 10px;
}
.banner-text {
  color: #fff;
  text-align: center;
  font-size: 32px;

  font-weight: 400px;
  padding-top: 197px;
}
.banner-title {
  color: #fff;
  text-align: center;
  width: 632px;
  font-size: 72px;
  padding-left: 400px;
  font-weight: 900;

  padding-bottom: 250px;
}

/* font-family: 'Inter', sans-serif; */
/* 65% off */
.discount-sec {
  font-family: "Inter", sans-serif;
  margin-top: 120px;
  text-align: center;
}
.off {
  color: #f00;
  font-size: 60px;
  font-weight: 700px;
}
.off-sec {
  color: #f00;
}
.all-categories {
  color: #070211;
  font-size: 28px;
}

/* welcome section */
.welcome {
  margin: 120px;
  padding: 0px 140px;
}
.welcome-sec {
  background-image: url("/resources/Vectorrr.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
.welcome-flex {
  display: flex;
  place-items: center;
  padding: 70px 120px;
  gap: 45px;
}

.wel-title {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
}
.wel-des {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.wel-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #070211;
}

/* portfolio */
.portfolio-sec {
  padding: 0px 240px;
}
.red-title {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.port-title {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.div1{
    width:100%;
    display: flex;
    gap: 24px;
    margin-top: 70px;
}
.div2{
    width:100%;
    display: flex;
    gap: 24px;
    margin-top: 24px;
}


















/* subscribe */

.sub-sec {
  padding: 0px 240px;
  margin-bottom: 120px;
  border-radius: 16px;
  margin-top: 120px;
}
.sub {
  background-color: rgba(255, 0, 0, 0.05);
  text-align: center;
  padding: 80px 212px;
}
.sub-title {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.sub-des {
  color: rgba(7, 2, 17, 0.6);

  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
#id1 {
  background: white;
  border: none;
  text-decoration: none;
  padding: 25px 30px 25px 22px;
  border-radius: 50px 0px 0px 50px;
}
#id2 {
  background: #f00;
  border: none;
  text-decoration: none;
  padding: 25px 30px;
  border-radius: 0px 50px 50px 0px;
}
/* footer */

footer h4 {
  color: #fff;
  font-family: "Inter", sans-serif;
}

.footer {
  background: #070211;
}
.line1 {
  display: flex;
}
.line2 {
  display: flex;
}
.footer-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 290px 0px 140px;
}
.hr {
  height: 1px;
  background: wheat;
  margin-bottom: 40px;
  margin: 40px 200px 40px 140px;
}
.icon {
  display: flex;
  gap: 20px;
  padding: 0px 780px;
}
.footer-parent2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 200px 0px 140px;
}
